//colors
$header-font-color: #ffffff;
$title-font-color: #333333;
$text-font-color: #999999;
$hover-font-color: #fce38a;
$linear-gradient: linear-gradient(to top, rgba(252, 227, 138, .9), rgba(243, 129, 129, .9));
$address-link-color: #f38181;
$input-color: #cccccc;
$input-border-color: #e7e7e7;
$input-submit-color: rgb(149, 225, 211);
$page-footer-color: rgb(229, 229, 229);
$section-title-color: rgb(243, 129, 129);
$site-navigation-color: rgb(252, 227, 138);

//fonts
$main-font-family: 'MontserratRegular', sans-serif;
$secondary-font-family: 'MontserratBold', sans-serif;
$title-font-family: 'KaushanScript', cursive;
$team-font-family: 'RobotoRegular', sans-serif;
$figcaption-font-family: 'RobotoLightItalic', sans-serif;

//font-size
$f150: 15rem;
$f72: 7.2rem;
$f30: 3rem;
$f24: 2.4rem;
$f15: 1.5rem;
$f14: 1.4rem;