.features {
    margin-bottom: 8.6rem;

    &__title {
        margin-bottom: 6.4rem;
    }

    &__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -ms-flex-line-pack: distribute;
            align-content: space-around;
    }

    &__item {
        margin-bottom: 92px;

        &:nth-last-child(-n+3) {
            margin-bottom: 0;
        }
    }

    &__card-title {
        font-family: $main-font-family;
        text-transform: uppercase;
        font-size: $f14;
        text-align: left;
        color: $title-font-color;
        margin-bottom: 1.2rem;
    }

    &__card-descr {
        font-family: $team-font-family;
        font-size: $f15;
        line-height: 2.4rem;
        color: $text-font-color;
        text-align: left;
    }

    &__card {
        position: relative;
        width: 33.8rem;
        padding-left: 6.4rem;

        &::before {
            @include pseudo;
            position: absolute;
            height: 8.4rem;
            width: 12.6rem;
            left: 0px;
            top: 0px;
            background: url(../../image/spritesheet_icon.png);
            background-repeat: no-repeat;
        }
    }

    &__icon--ALARM::before {
        @include position(3.1rem, 3.2rem, -0.5rem -0.5rem);
        // height: 3.1rem;
        // width: 3.2rem;
        // background-position: -0.5rem -0.5rem;
    }

    &__icon--LINE-GRAPH::before {
        @include position(3.2rem, 3.2rem, -8.9rem -4.7rem);
        // height: 3.2rem;
        // width: 3.2rem;
        // background-position: -8.9rem -4.7rem;
    }

    &__icon--COMPUTER-_-OK::before {
        @include position(2.8rem, 3.2rem, -0.5rem -4.7rem);
        // height: 2.8rem;
        // width: 3.2rem;
        // background-position: -0.5rem -4.7rem;
    }

    &__icon--BOOK-2::before {
        @include position(3.2rem, 3.2rem, -4.7rem -0.5rem);
        // height: 3.2rem;
        // width: 3.2rem;
        // background-position: -4.7rem -0.5rem;
    }

    &__icon--HOME::before {
        @include position(3.1rem, 3.2rem, -4.7rem -4.7rem);
        // height: 3.1rem;
        // width: 3.2rem;
        // background-position: -4.7rem -4.7rem;
    }

    &__icon--IMAGE::before {
        @include position(3.2rem, 3.2rem, -8.9rem -0.5rem);
        // height: 3.2rem;
        // width: 3.2rem;
        // background-position: -8.9rem -0.5rem;
    }
    
}
